<m-moblet init="init"  is-loading="isLoading" inner-scroll="true" no-content="noContent" unavaliable="error">
  <m-content reload="load" more="more" >
    <div class="list" ng-if="!isDetail">
      <div class="item {{ listStyle }}" class="list" ng-repeat="(key, item) in items" ng-click="goTo(item)">
				<div class="img-container">
					<img ng-src="{{item.image | mEncoder:'crop':70:114}}" img-resize>
				</div>
        <div>
          <h1 ng-bind="item.title"></h1>
					<p ng-bind-html="stripHtml(item.description)"></p>
        </div>
      </div>
    </div>
    <img class="full-width-image" ng-src="{{detail.image}}" ng-if="isDetail" >
    <div class="detail {{ itemStyle }}" ng-if="isDetail">
      <h1 class="title" ng-bind="detail.title"></h1>
      <div class="description" m-bind-html="detail.description"></div>
    </div>
  </m-content>
</m-moblet>
