<m-moblet is-loading="isLoading" inner-scroll="true" unavaliable="error">
  <m-content init="init" ng-if="isDetail">
    <div class="detail {{ itemStyle }}">
        <h1 class="title" ng-bind="detail.title"></h1>
        <div class="description" u-bind-html="detail.description"></div>
    </div>
  </m-content>
  <m-content init="init" ng-if="!isDetail" reload="load" more="more">
    <div class="list">
      <div class="item {{ listStyle }}" class="list" ng-repeat="(key, item) in items" ng-click="goTo(item)">
        <div>
          <h1 ng-bind="item.title"></h1>
        </div>
        <div>
          <p ng-bind="stripHtml(item.description)"></p>
        </div>
      </div>
    </div>
  </m-content>
</m-moblet>
