<m-moblet is-loading="isLoading" inner-scroll="true" unavaliable="error">
  <m-content class="detail" init="init" ng-if="isDetail">
    <div class="content-container">
        <h2 class="title" ng-bind="item.title"></h2>
        <p class="descriptionitem" u-bind-html="item.description"></p>
    </div>
  </m-content>
  <m-content init="init" ng-if="!isDetail" reload="load" more="more">
    <div class="item list-item layout-1" class="list" ng-repeat="(key, item) in items" ng-click="goTo(item)">
      <div class="line-clamp-2 module title-module">
        <h2 ng-bind="item.title"></h2>
      </div>
      <div class="line-clamp-2 module">
        <span class="no-style" ng-bind-html="item.description"></span>
      </div>
    </div>
  </m-content>
</m-moblet>
